    <footer class=" py-5" style="background-color: #C7E8CA;">
        <div class="container text-center">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-4 align-self-center">
                    <h2 class="">Servicio a Clientes</h2>
                    <h4 class=""><i class="bi bi-telephone"></i> 55 0152 0183</h4>
                    <h4 class=""><i class="bi bi-envelope-at"></i> Petshop@gmail.com</h4>
                </div>
                <div class="col-lg-4">
                    
                    <a class="h2 sin-subrayado" href="#">
                        <img  src="img/logo.jpg" alt="Logo" width="80" height="80"class="d-inline-block align-text-center">
                        PetShop</a>
                </div>
                <div class="col-lg-4 align-self-center">
                    <h2>Siguenos en:</h2>
                    <a class="icono-footer text-end" href="#"><i class="bi bi-facebook"></i></a>
                    <a class="icono-footer text-end" href="#"><i class="bi bi-instagram"></i></a>
                    <a class="icono-footer text-end" href="#"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
        <hr class="mb-0">
        <p class="text-center ">Aviso de privacidad | © 2023, PetShop. Todos los Derechos Reservados.</p>
    </footer>