
    <nav class="navbar sticky-top navbar-expand-lg  opacity-75" style="background-color: #C7E8CA;">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1 me-4" href="/">
                <img  src="img/logo.jpg" alt="Logo" width="60" height="50"class="d-inline-block align-text-center">
                PetShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/productos">PRODUCTOS</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CATEGORIAS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Perros">Perros</a></li>
                        <li><a class="dropdown-item" href="/Gatos">Gatos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/Aves">Aves</a></li>
                        <li><a class="dropdown-item" href="/Acuaticos">Acuaticos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/Reptiles">Reptiles y Anfibios</a></li>
                        <li><a class="dropdown-item" href="/Ruedores">Animales Pequeños</a></li>
                    </ul>
                    </li>
                </ul>
                <div class="col-8 col-lg-4 me-auto">
                    <form class="d-flex me-auto" role="search">
                        <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
                <div class="d-flex navbar-nav ">
                    <a class="nav-link active" href="/carrito"><i class="bi bi-cart4 icono-nav"></i>CARRITO</a>
                    {{#if user}}
                    <a class="nav-link active" href="/profile"><i class="bi bi-person-circle icono-nav"></i>PERFIL</a>
                    <a class="nav-link active" href="/logout"><i class="bi bi-person-circle icono-nav"></i>CERRAR SESION</a>
                    {{else}}
                    <a class="nav-link active" href="/signin"><i class="bi bi-person-circle icono-nav"></i>INICIAR SESION</a>
                    <a class="nav-link active" href="/signup"><i class="bi bi-person-circle icono-nav"></i>CREAR CUENTA</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>